---
import Layout from "../layouts/Layout.astro";
import Home from "../components/Home.astro";
import Projects from "../components/projects/Projects.astro";
import Skills from "../components/skills/Skills.astro";
import AboutMe from "../components/AboutMe.astro";
import Contact from "../components/contact/Contact.astro";
import Footer from "../components/Footer.astro";
import Certificates from "../components/certificates/Certificates.astro";
---

<Layout title="Bautista Onorato | Desarrollador Web">
  <main>
    <Home />
    <div class="bg-[#020202] text-white">
      <Projects />
      <Skills />
      <AboutMe />
      <Certificates />
      <Contact />
      <Footer />
    </div>
  </main>
</Layout>
