---
import ArrowRightIcon from "../../icons/ArrowRightIcon.astro";
import EmailIcon from "../../icons/EmailIcon.astro";
import ContactForm from "./ContactForm";

const EMAILJS_PUBLIC_KEY = import.meta.env.EMAILJS_PUBLIC_KEY;
const EMAILJS_SERVICE_ID = import.meta.env.EMAILJS_SERVICE_ID;
const EMAILJS_TEMPLATE_ID = import.meta.env.EMAILJS_TEMPLATE_ID; 
---
<section id="contact" class="w-[80%] mx-auto flex flex-col gap-4">
  <h3 class="text-4xl font-semibold">Contacto</h3>
  <div class="w-full flex justify-between gap-8">
    <ContactForm client:load pk={EMAILJS_PUBLIC_KEY} sId={EMAILJS_SERVICE_ID} tId={EMAILJS_TEMPLATE_ID} />
    <div class="max-[950px]:hidden w-[2px] bg-[#121212]"> 
    </div>
    <div class="max-[950px]:hidden flex flex-col items-center justify-center gap-6">
      <img class="w-80" src="/img/email.svg" alt="" />
      <div class="flex gap-4">
        <a
          href="https://www.linkedin.com/in/bautista-onorato-940566272/"
          target="_blank"
          class="border border-[#9e9e9e] px-4 py-2 rounded-md flex items-center justify-center gap-2 w-32 pl-5 hover:bg-[#242424] transition-all duration-200"
          >Linkedin <ArrowRightIcon size={24} /></a
        >
        <a
          href="https://github.com/BautistaOnorato"
          target="_blank"
          class="border border-[#9e9e9e] px-4 py-2 rounded-md flex items-center justify-center gap-2 w-32 pl-5 hover:bg-[#242424] transition-all duration-200"
          >GitHub <ArrowRightIcon size={24} /></a
        >
        <a
          href="mailto:bautistaonorato@gmail.com"
          class="px-4 py-2 rounded-md flex items-center justify-center gap-2 border border-transparent bg-[#03a6f1b0] cursor-pointer hover:bg-[#03a6f186] transition-all duration-200"
          >Email <EmailIcon size={24} /></a
        >
      </div>
    </div>
  </div>
  <div class="mt-6 h-[2px] w-full bg-[#1b1b1b]"></div>
</section>
