<section
  id="about-me"
  class="w-[80%] pb-10 mx-auto flex flex-col gap-8"
>
  <div class="flex tablet:flex-row flex-col items-center justify-between gap-8 tablet:gap-20">
    <div class="space-y-2 flex-1">
      <span class="uppercase text-[#03a6f1] font-medium text-lg">SOBRE MÍ</span>
      <h3 class="text-2xl tablet:text-4xl font-semibold pb-3 tablet:pb-6">Bautista Onorato</h3>
      <div class="flex flex-col gap-4 opacity-75">
        <p>
          Desarrollador de software con dos años de experiencia. Especializado
          en aplicaciones web Full Stack con React y Spring Boot.
        </p>
        <p>
          Empece mi camino en el mundo de la programación en el año 2021 y en
          2023 me gradue como especialista en aplicaciones Backend. Estudio
          Inglés desde los 10 años y cuento con el Frist Certificate in English
          de la Universidad de Cambridge.
        </p>
        <p>
          Actualmente tengo 20 años y resido en Luján, Buenos Aires, Argentina.
        </p>
      </div>
    </div>
    <div class="p-4 bg-[#121212] rounded-md">
      <img
        class="object-cover aspect-square rounded-md max-h-80 tablet:h-72"
        src="https://media2.giphy.com/media/Qt1jk5Q49C3h5CrlBe/giphy.gif?cid=ecf05e47yz47bze6ui1w4xz2bgmns0z1ump5id6bow4v5u1a&ep=v1_gifs_search&rid=giphy.gif&ct=g"
        alt="about me image"
      />
    </div>
  </div>
  <div class="h-[2px] w-full bg-[#1b1b1b]"></div>
</section>
