---
import FilledEmail from "../icons/FilledEmail.astro";
import LinkedInIcon from "../icons/LinkedInIcon.astro";
import RoundedGithubIcon from "../icons/RoundedGithubIcon.astro";

const currentPath = Astro.url.pathname;
---

<footer class="w-[80%] py-6 px-6 mx-auto flex items-center justify-around flex-wrap-reverse gap-y-4">
  <div class="opacity-60">
    {currentPath === "/en" ? "Developed by" : "Desarrollado por"} Bautista Onorato
  </div>
  <div class="flex gap-6">
    <a aria-label="Encuentrame en Github" class="opacity-60 focus:opacity-100 hover:opacity-100" href="https://github.com/BautistaOnorato"><RoundedGithubIcon size={32} /></a>
    <a aria-label="Encuentrame en LinkedIn" class="opacity-60 focus:opacity-100 hover:opacity-100" href="https://www.linkedin.com/in/bautista-onorato-940566272/"><LinkedInIcon size={32} /></a>
    <a aria-label="Enciame un mail" class="opacity-60 focus:opacity-100 hover:opacity-100 max-[950px]:block hidden" href="mailto:bautiono4@gmail.com"><FilledEmail size={32} /></a>
  </div>
</footer>