---
import CloseIcon from "../icons/CloseIcon.astro";
import MenuIcon from "../icons/MenuIcon.astro";
import { ROUTES } from "../consts/routes"
import { HeaderText, HeaderTextEN } from "../consts/text";

const currentPath = Astro.url.pathname;
const TEXTS = currentPath === "/en" ? HeaderTextEN : HeaderText

---
<script>
  const menuBtn = document.getElementById("menu-btn");
  const menuIcon = document.querySelector(".menu");
  const closeIcon = document.querySelector(".close");

  const menuList = document.getElementById("menu-list");
  const menuLinks = document.querySelectorAll("#menu-list li a");

  menuBtn?.addEventListener("click", () => {
    menuIcon?.classList.toggle("hidden");
    closeIcon?.classList.toggle("hidden");
    menuList?.classList.toggle("hidden");
  })

  menuLinks.forEach(link => {
    link.addEventListener("click", () => {
      menuIcon?.classList.remove("hidden");
      closeIcon?.classList.add("hidden");
      menuList?.classList.add("hidden");
    })
  })

  window.addEventListener("click", (e) => {
    if (menuList?.classList.contains("hidden") || menuBtn?.contains(e.target as Node)) return;
    menuIcon?.classList.remove("hidden");
    closeIcon?.classList.add("hidden");
    menuList?.classList.add("hidden");
  })
</script>

<header
  id="header-nav"
  class="fixed py-4 z-50 top-0 w-screen backdrop-blur-md text-white flex justify-center items-center min-h-20"
>
  <div class="flex justify-between gap-8 items-center w-[80%]">
    <div>
      <a class={`${currentPath === "/" ? "text-[#00a6fb]" : "opacity-70 hover:opacity-100"}`} href="/">
        ES
      </a>
      |
      <a class={`${currentPath === "/en" ? "text-[#00a6fb]" : "opacity-70 hover:opacity-100"}`} href="/en">
        EN
      </a>
    </div>
    <div class="hidden xs:flex justify-center items-center gap-3 flex-1 tablet:flex-initial">
      <img
        class="rounded-full aspect-square w-12"
        src="/img/me.jpeg"
        alt="Foto de perfil"
      />
      <div class="flex flex-col">
        <strong>Bautista Onorato</strong>
        <span class="text-[#00a6fb] font-semibold">{TEXTS.position}</span>
      </div>
    </div>
    <nav class="relative flex-initial tablet:flex-1 flex justify-end items-center">
      <button id="menu-btn" class="tablet:hidden">
        <MenuIcon size={28} className="menu" />
        <CloseIcon size={28} className="hidden close" />
      </button>
      <ul id="menu-list" class="hidden absolute bg-[#020202] px-5 w-[200px] space-y-2 py-4 rounded-md top-[110%] right-0 border border-[#616161] tablet:w-auto tablet:border-none tablet:p-0 tablet:bg-transparent tablet:static tablet:flex items-end gap-8">
        {
          ROUTES.map((route, i) => (
            <li class="tablet:w-auto w-full">
              <a class="opacity-70 hover:opacity-100 w-full block" href={route.path}>
                {currentPath === "/en" ? route.nameEN : route.name}
              </a>
              {i < ROUTES.length - 1 && <div class="tablet:hidden static h-[1px] w-full bg-[#616161] my-2"></div>}
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>